extends layout

block content
  .text-center
    h1 Este es el dashboard del admin
    h3 Aca deberias ver la info y poder administrarla
    hr
    h2 Te tiro la data en crudo de doctores pasando tarjeta RFID
    p.lead= attendances
    h4 Hace una tabla o algo   
