extends layout

block content
  header.jumbotron
    h1.display-4 Hospital INET
    p.lead Esto es un header
    hr.my-4
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus, felis convallis finibus iaculis, massa neque pellentesque nisi, in tristique risus leo at sem. Suspendisse potenti.
    a.btn.btn-primary.btn-lg(href='#') Call to action  
  main
    if (user)
      h3 Bienvenido #{user.firstName}
    p Este es el main
    hr
  footer
    p Este es el footer  

    
