extends layout

block content
  header.jumbotron
    h1.display-4 Hospital INET
    p.lead Esto es un header
    hr.my-4
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus, felis convallis finibus iaculis, massa neque pellentesque nisi, in tristique risus leo at sem. Suspendisse potenti.
    a.btn.btn-primary.btn-lg(href='#') Call to action  
  main
    h3.text-center Aca iria el contenido principal
    p.lead.text-center Publicidad o algo por el estilo
    p 
    pre.text-center
      code user: admin, pass: 1234
      br
      code user: alejo, pass: 1234
      br
      code user: mateo, pass: 1234 
        
    
